
build.xml
*.class
*.netbeans*
*.mf
*.xml
*.properties
*.DS

# Package Files #
*.jar
*.war
*.ear
*.txt
*.abc
*.iml
*.idea
*.swp

# Directories #
Z_Course Files - fall 2011/
old*
/Problem Sets/PS1/PS1/nbproject/private/
/Problem Sets/PS/nbproject/private/
/Problem Sets/JavaProject/nbproject/private/
